<h1><%= t('header.login') %></h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">

	<%= form_for(:session, url: login_path) do |f| %>

		<%= f.label :email %>	
 		<%= f.email_field :email, class: 'form-control' %> 
  		
 		<%= f.label t('forms.password') %>
      	<%= f.password_field :password, class: 'form-control' %>

  		<%= f.submit t('forms.log'), class: "btn btn-primary" %>
	<% end %>
	<p><%= t('forms.new') %><%= link_to t('welcome.signup'), signup_path %></p>
    </div>
</div>

