<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', object: @user %>

	<%= f.label t('forms.username') %>
	<p><%= f.text_field :username , class: 'form-control' %></p>

	<%= f.label :email %>
	<p><%= f.email_field :email, class: 'form-control'  %> </p>

	<%= f.label t('forms.password') %>
	<p><%= f.password_field :password, class: 'form-control' %> </p>

	<%= f.label :password_confirmation, "Confirmation" %>
	<p><%= f.password_field :password_confirmation, class: 'form-control' %> </p>

	<p><%= f.submit yield(:button_text), class: "btn btn-primary" %></p>
<% end %>
