	

	<tr >
		<td style="padding-right: 100px"><%= link_to user.username, user_path(user) %></td>
	<!-- <% if current_user.admin? && !current_user?(user) %> -->
		<td style="padding-right: 20px"><%= link_to "Edit", edit_user_path(user), class: "btn btn-info" %></td>
		<!-- <input type="checkbox"> Check me out -->
		<td><%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger" %></td>
	<!-- <% end %> -->
		<!-- <td><%= form_for(user) do |f| %>admin
			<%= f.check_box :admin, {:readonly => true}, true, false %>
			<p><%= f.submit "Ok", class: "btn btn-primary" %></p> -->
		<% end %></td>
</tr>