<% provide(:title, t('titles.edit')) %>
<% provide(:button_text, t('forms.save')) %>
<h1><%= t('titles.update') %></h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<%= render 'form' %>

	</div>
</div>