<% provide(:title, t('forms.sign')) %>
<% provide(:button_text, t('forms.create')) %>
<h1><%= t('titles.sign') %></h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">

    	<%= render 'form' %>

	</div>
</div>
