<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
	<div class="center jumbotron">
		<h1><%= t('welcome.title') %>Framework App</h1>
		<% if !logged_in? %>
			<%= link_to t('welcome.signup'), signup_path, class: "btn btn-lg btn-primary" %>
		<% end %>
	</div>
  </body>
</html>