<!-- <div class="container">
  <h1> Contact </h1>
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
  	<%= render 'shared/error_messages_contacts', object: @contact %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => false, :input_html => {:rows => 10} %>
    <div class="hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, 'Send message', class: "btn btn-primary" %>
    </div>
    <% end %>
</div> -->

<h1> Contact </h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@contact) do |f| %>
	    	<%= render 'shared/error_messages_contacts', object: @contact %>

			<%= f.label t('forms.name'), :required => true %>
			<p><%= f.text_field :name , class: 'form-control' %></p>

			<%= f.label :email %>
			<p><%= f.email_field :email, class: 'form-control'  %> </p>

			<%= f.label :message %>
			<p><%= f.text_area( :message, rows: 10) %> </p>

			<p><%= f.submit t('forms.send_m'), class: "btn btn-primary" %></p>
			<% end %>

	</div>
</div>