<footer class="footer">
  <small>
    FrameWork1 by lpavius</a>
  </small>
  <nav>
    <ul>
      <!-- <li><%= link_to "About",   '#' %></li> -->
      <li><%= link_to "Contact", new_contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>