<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "framework app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('header.home'), root_path %></li>
          <% if logged_in? %>
            <% if users_admin? %>
                <li><%= link_to t('header.users'), users_path %></li>
            <% end %>    
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t('header.account') %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t('header.profile'), current_user %></li>
                <li><%= link_to t('header.setting'), edit_user_path(current_user) %></li>
                <li><%= link_to "Forum", '#' %></li>
                <li class="divider"></li>
                <li><%= link_to t('header.logout'), logout_path, method: "delete" %></li> 
              </ul>
            </li>
          <% else %>
            <li><%= link_to t('header.login'), login_path %></li>
          <% end %>
          <% if I18n.locale == :en %>
            <li><%= link_to flag_icon(:fr) , locale: :fr %></li>
          <% else %>
            <li><%= link_to flag_icon(:gb), locale: :en %></li>
          <% end %>        
      </ul>
    </nav>
  </div>
</header>